/* Style Sheet */

/* Add a cool font */
@font-face {
	font-family: "TitleFont";
	src: url("DearSunshine.ttf");
}


/* Set all padding and margin to 0 */
* {
	margin: 0px;
	padding: 0px;
}

/* Set the background colour */

body {
  background-color: #242582;
  color: #ffffff;

}

/* Set h1 tag */
h1 {
  color: #ffffff;
  font-family: TitleFont;
	font-size: 60px;

}

h2 {
	margin-bottom: 6px;

}
p {
  margin-bottom: 4px;

}

ul {
  margin-left: 25px;

}
/* Formatting links */
a {
	color: #1fb8a6;
  text-decoration: none;
	font-weight: bolder;

}

a:hover {
  text-decoration: underline;
}


/* Put the content into a grid */

.content-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;

}

/* Format the parts of the grid */
.sidebar-container {

	margin-right: 20px;
}

/* Format the list on the sidebar */
.list-container {
	margin: 10px 0px;
}

.list-container > p {
	margin-bottom: 8px;
}

.country-description {
	margin-bottom: 16px;
}



.title {
	text-align: center;
}
