/* Style Sheet */

/* Add a cool font */
@font-face {
	font-family: "TitleFont";
	src: url("DearSunshine.ttf");
}





/* Set all padding and margin to 0 */
* {
	margin: 0px;
	padding: 0px;
}

/* Nav-container */
.navbar-container {
	width: 100%;
	padding: 0px;
	background-color: #4287f5;
	position: sticky;
	top: 0;

}

/* Navbar itself */
.navbar {
	max-width: 1720px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr auto 1fr;


}

/* Format Links */
.navbar a {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;



}
.navbar a:hover {
	text-decoration: none;
}

.left-menu {
	padding-top: 40px;
	grid-column: 1;
}
.left-menu a {
	padding-left: 10px;

}
.logo {
	grid-column: 2;
	padding: 20px 0px;
}

/*  Hide the burger menu */
#nav-toggle, .burger-menu {
	display: none;
}

/* Media query to display burger menu and hide links */
@media only screen and (max-width: 1000px) {
	.burger-menu {
		display: inline-block;
		font-size: 40px;
		padding-left: 40px;
		padding-top: 30px;
	}
	.left-menu {
		display: none;
		padding-top: 0px;
	}
	#nav-toggle:checked ~ .left-menu {
		display: grid;
		grid-row: 2;
		grid-column: span 3;
		margin-top: 10px;
	}
	.left-menu a {
		padding: 10px;
	}
	.left-menu a:hover {
		background-color: grey;
	}

}

/* Set the background colour */

body {
  background-color: #242582;
  color: #ffffff;

}

/* Set h1 tag */
h1 {
  color: #ffffff;
  font-family: TitleFont;
	font-size: 60px;

}

h2 {
	margin-bottom: 6px;

}
p {
  margin-bottom: 4px;

}

ul {
  margin-left: 25px;

}
/* Formatting links */
a {
	color: #1fb8a6;
  text-decoration: none;
	font-weight: bolder;

}

a:hover {
  text-decoration: underline;
}


/* Put the content into a grid */

.content-container {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;

}

.page-content-container
{
	grid-column: span 2;
	margin-left: 10px;

}

/* Format the parts of the grid */
.sidebar-container {
	border: 1px solid white;
	border-radius: 20px;
	margin-right: 20px;
	margin-left: 10px;
	padding-top: 10px;
	padding-left: 7px;
}

/* Format the list on the sidebar */
.list-container {
	margin: 10px 0px;
}

.list-container > p {
	margin-bottom: 8px;
}

.country-description {
	margin-bottom: 16px;
}


.title {
	text-align: center;
}

/* Country page formating */

/* Format the top of the page */
.page-info-container {
	margin: auto;
	width: 50%;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 20px;

}

.page-info-container  > p {
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}





/*Format the cards into a grid*/
.country-content-container {
	display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
	grid-column-gap: 20px;

}


/* Make the cards look nice*/
.cards {
	font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  border: 1px solid white;
	border-radius: 20px;
	overflow: hidden;

}

/* Dealing with images in the cards */
.cards > img {
  max-width: 100%;
  height: auto;
}

.cards > p {
  margin-left: 10px;

}
.cards > h2 {
  margin-left: 10px;

}
