/* Style Sheet */

/* Add a cool font */
@font-face {
	font-family: "TitleFont";
	src: url("DearSunshine.ttf");
}


/* Set all padding and margin to 0 */
* {
	margin: 0px;
	padding: 0px;
}

/* Set the background colour */

body {
  background-color: #242582;
  color: #ffffff;

}

/* Set h1 tag */
h1 {
  color: #ffffff;
  font-family: TitleFont;
	font-size: 60px;

}

h2 {
	margin-bottom: 6px;

}
p {
  margin-bottom: 4px;

}

ul {
  margin-left: 25px;

}
/* Formatting links */
a {
	color: #1fb8a6;
  text-decoration: none;
	font-weight: bolder;

}

a:hover {
  text-decoration: underline;
}


/* Put the content into a grid */

.content-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;

}

/* Format the parts of the grid */
.sidebar-container {

	margin-right: 20px;
	margin-left: 10px;
}

/* Format the list on the sidebar */
.list-container {
	margin: 10px 0px;
}

.list-container > p {
	margin-bottom: 8px;
}

.country-description {
	margin-bottom: 16px;
}


.title {
	text-align: center;
}

/* Country page formating */

/* Format the top of the page */
.page-info-container {
	margin: auto;
	width: 50%;
	text-align: center;

}

.page-info-container  > p {
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}





/*Format the cards into a grid*/
.country-content-container {
	display: grid;
  grid-template-columns: repeat(3,1fr);
	grid-column-gap: 20px;

}

/* Make the cards look nice*/
.cards {
	font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  border: 1px solid white;
	border-radius: 20px;
	overflow: hidden;

}

/* Dealing with images in the cards */
.cards > img {
  max-width: 100%;
  height: auto;
}

.cards > p {
  margin-left: 10px;

}
.cards > h2 {
  margin-left: 10px;

}
