/* Style Sheet */

/* Set all padding and margin to 0 */
* {
	margin: 0px;
	padding: 0px;
}

/* Set the background colour */

body {
  background-color: yellow;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Set h1 tag */
h1 {
  color: green;
  font-family: Arial, Calibri,sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
}
p {
  margin-bottom: 4px;
}
h2 {
  margin-bottom: 8px;
}

ul {
  margin-left: 25px;

}
/* Formatting links */
a {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
